.mainContainer{
    display: flex;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.btn{
    width: 90%;
}
.containerForTitles{
    margin-top: 10px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.postTitle{
    width: 20%;
    height: 75px;
    background: silver;
    border: 1px solid black;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
}
.postDetails{
    display: flex;
    box-sizing: border-box;
}